| $("#show_comment_#{(@comment.id)}").find(".media-body").find(".entry").replaceWith("
= escape_javascript render("form")
| ");
| $("#show_comment_#{(@comment.id)}").find("#comment_body")[0].focus();
| $("#show_comment_#{(@comment.id)}").find(".action").hide();
