.policy.well
  p Chọn đi hoàn toàn bảo mật thông tin cá nhân của bạn.
  li Email (bắt buộc) sẽ được dùng để  đăng nhập và thông báo khi có người đề nghị đổi với bạn.
  li Số điện thoại (không bắt buộc) chỉ hiển thị khi hai bên đồng ý trao đổi. Nếu bạn không điền số điện thoại, email sẽ được dùng thay thế.
