.tip.well
  p Nếu có thể bạn hãy đính kèm hình ảnh của món đồ để làm tăng cơ hội nhận biết.
  p Viết vài dòng ngắn trong mục miêu tả như: tình trạng món đồ, bạn muốn trao đổi với món nào cụ thể.
  p Và lưu ý chỉ những món đồ cùng loại mới có thể đổi cho nhau.
