form {
  #previewImage img {
    width: 35px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 2px;
    pointer-events: none;
    z-index: 2;
  }

  fieldset {
    position: relative;
  }

  .fa-picture-o {
    position: absolute;
    right: 2px;
    top: 1px;
    z-index: 1;
  }

  .btn {
    margin-bottom: 1em;
  }
}

.help-block {
  color: #a94442;
}
