.item-show {
  .item-action .btn {
    margin-right: 1em;
  }
  .status {
    position: relative;
    height: 23vh;
  }
  .status .action {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
  }
  .accept {
    padding: 2px 6px;
  }
  .deny {
    padding: 2px 8px;
  }

  .fa {
    font-size: 4vw;
  }
  .deny, .accept {
    margin-top: 0.5em;
  }

  @media (min-width: 56.25em) {
    .fa {
      font-size: 2em;
    }
  }
}
