.item-show {

  .status {
    position: relative;
    height: 23vh;
  }
  .status .action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .fa {
    font-size: 4vw;
  }
  .deny, .accept {
    margin-top: 0.5em;
  }

  @media (min-width: 56.25em) {
    .fa {
      font-size: 2em;
    }
  }


}
