.social-link > .btn-social {
  /*padding: 16px 12px;*/
  width: 120px;
  font-size: inherit;
  height: 2em;
}

.social-link .btn-social a {
  font-size: inherit;
  text-align: center;
  border: none;
  left: 0em;
  top: -0.1em;
  color: white;
  text-decoration: none;
  width: 115%;
}

i.fa-facebook:hover {
    opacity: 0.7;
}

.fa-facebook {
  pointer-events: none;
  position: absolute;
  left: 0.3em;
  top: 0.14em;
  color: white;
}
