.list-group-item {

  .media-heading {
    text-align:justify;
  }

  small {
    color: gray;
  }

  .action {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .guest-image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .status {
    position: absolute;
    right: 4em;
    bottom: 0px;
  }
}
